# Environnement virtuel
# Environnements virtuels
env/
venv/
backend/env/

venv/
.env
*.env

# Fichiers base de données
*.duckdb
*.duckdb-shm
*.duckdb-wal

# Pycache & compilés
__pycache__/
*.py[cod]
*.so
*.pyo

# Logs
*.log

# Fichiers de config perso
*.vscode/
.idea/
*.swp

# Jupyter (si jamais tu en utilises)
.ipynb_checkpoints/

# Systèmes Unix/Mac
.DS_Store

# Fichiers système
Thumbs.db

# React ou front (si tu ajoutes une partie frontend)
node_modules/
dist/
build/


# Python cache
__pycache__/
*.py[cod]

# Node modules
frontend/node_modules/
*.log

# Frontend build
frontend/build/

# Fichiers système
.DS_Store
Thumbs.db
